<div class="pure-menu social">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a class="pure-menu-link" href='/index.xml'><i class="fas fa-rss fa-fw"></i>RSS</a>
    </li>
    {{- with .Site.Social.youtube }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://youtube.com/user/{{- . -}}" rel="me" target="_blank"><i class="fab fa-youtube-square fa-fw"></i>YouTube</a>
    </li>
    {{- end -}}
    {{- with .Site.Social.linkedin }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://linkedin.com/in/{{- . -}}" rel="me" target="_blank"><i class="fab fa-linkedin fa-fw"></i>LinkedIn</a>
    </li>
    {{- end -}}
    {{- with .Site.Social.github }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://github.com/{{- . -}}" rel="me" target="_blank"><i class="fab fa-github-square fa-fw"></i>GitHub</a>
    </li>
    {{- end -}}
    {{- with .Site.Social.steam }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://steamcommunity.com/id/{{- . -}}" rel="me" target="_blank"><i class="fab fa-steam-square fa-fw"></i>Steam</a>
    </li>
    {{- end -}}
    {{- with .Site.Social.lastfm }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://last.fm/user/{{- . -}}" rel="me" target="_blank"><i class="fab fa-lastfm-square fa-fw"></i>Last.fm</a>
    </li>
    {{- end }}
  </ul>
</div>
